.pageHeader{margin-bottom:30px}.PageTop{margin-top:20px}.PageTop .widget--social-media-links{text-align:right}div.widget_core_coll_tagline{margin-bottom:30px}.footer{background-color:#FFF;width:100%}.footer p{margin-top:10px}body.pictured .footer{color:#666}body.pictured .footer a{color:#666}body.pictured .footer .widget--social-media-links a{color:#FFF}html{height:100%}body{-webkit-font-smoothing:subpixel-antialiased}div.front_main_area{width:450px;max-width:100%;padding:0;margin-top:85px;margin-bottom:100px}div.front_main_area .front_main_content{border-radius:6px;padding:5px 15px}div.front_main_area div.widget{margin:30px 0}div.front_main_area div.widget_core_coll_item_list ul{padding:0;margin-left:0}div.front_main_area div.widget_core_coll_item_list li{clear:both;list-style:none;height:80px;margin:5px 0;padding:0}div.front_main_area div.widget_core_coll_item_list div.item_first_image{float:left;margin-right:6px}div.front_main_area div.widget_core_coll_item_list div.item_title{vertical-align:middle;line-height:80px}div.front_main_area div.widget_core_coll_item_list img{border-radius:3px}body.pictured{height:100%}body.pictured #skin_wrapper{display:table;width:100%;height:100%}body.pictured .container.body{height:100%;min-height:100%}body.pictured .panel{color:#333}body.pictured .panel a:not([class]){color:#337ab7;text-decoration:none}body.pictured .panel a:not([class]):hover{color:#23527c;text-decoration:underline}body.pictured .panel input{-webkit-font-smoothing:subpixel-antialiased}#bg_picture{position:fixed;top:0;left:0;right:0;bottom:0;width:100%;height:100%;background-size:cover;background-position:center center;z-index:-999999}#bg_picture img{display:none;width:100%}@media only screen and (max-width:640px){body.disp_front .sitewide_header{margin-bottom:0}body.disp_front #bg_picture{position:relative;height:auto}body.disp_front #bg_picture img{display:block}body.disp_front div.front_main_area{width:auto;margin-top:0;margin-bottom:0}}.widget_core_user_login #login_form .form-group{margin:0}.widget_core_user_login #login_form label{text-align:left;width:160px;padding-left:0}.widget_core_user_login #login_form .controls{padding:0;width:100%}.widget_core_user_login #login_form .form_text_input.form-control{width:100%}.widget_core_user_login .submit{font-size:12px}.widget_core_user_login .field_login_btn .panel{margin:0;border:none;border-radius:0;box-shadow:none}.widget_core_user_login .field_login_btn .panel .panel-body{padding-left:0;padding-right:0;padding-bottom:0}.widget_core_user_login .field_login_btn .panel .panel-body #submit_login_form{margin-right:10px}.widget_core_user_login .register_link{display:block;padding-top:10px}.widget_core_user_register #register_form .form-group{margin:0}.widget_core_user_register #register_form label{text-align:left;width:160px;padding-left:0}.widget_core_user_register #register_form .controls{padding:0;width:100%}.widget_core_user_register #register_form .form_text_input.form-control{width:100%}.widget_core_user_register .submit{font-size:12px}.widget_core_user_register .field_register_btn .panel{margin:0;border:none;border-radius:0;box-shadow:none}.widget_core_user_register .field_register_btn .panel .panel-body{padding-left:0;padding-right:0;padding-bottom:0}.widget_core_user_register .field_register_btn .panel .panel-body #submit_login_form{margin-right:10px}ul.profile_tabs{margin:0 2ex 2ex;position:relative;top:1px}.profile_avatar{float:right;padding:10px;margin-left:10px}form.bComment{border-color:#DDD;padding:1em}form.bComment .controls textarea.form-control{width:100%}input.search_field{margin-bottom:0;display:inline-block}form.search .search_options{width:100%}form.search .search_options .search_option input{margin-right:5px}form.search .search_options .search_option label{margin-bottom:0;margin-top:5px}div.compact_search_form input.search_field{width:100%;margin:0}div.extended_search_form{text-align:center;margin:0 auto 2em auto;max-width:530px}div.extended_search_form .search_options{text-align:center}div.extended_search_form .search_options .search_option{display:inline-block;margin-right:10px}table.catselect input#new_category_name{width:98% !important}label.control-label[for=post_title]{width:auto}.item_tags td.label{background:none;color:#000;text-shadow:none;padding:0;font-size:100%}.item_tags td.input{width:90%}.item_tags td.input label{display:none}.item_tags .controls{margin-left:0}.messages_list form.bComment{background:none}textarea.message_text{width:95%}.comment_form h3{margin:0}.comment_form .panel{margin:0;border:none;-webkit-box-shadow:none;box-shadow:none}.comment_form .panel .panel-body{padding:0}form.bComment{border:none;padding:0;overflow:visible}form.bComment .form-actions{margin-bottom:0}form.bComment legend{padding:0 10px}form.bComment div.form-group,form.bComment div.custom_content{padding:0 20px}form.bComment fieldset{margin-top:0}form.bComment input[type=file]{display:inline}#comment_date_field input{width:80px}#comment_date_field label{font-weight:normal}.form-group[id^="ffield_uploadfile"] .controls{padding-top:5px}.form-group[id^="ffield_uploadfile"] .controls input{line-height:10px}.comment_rating{margin-top:2px}#comment_edit .comment_rating{margin-top:9px}.ratings_table{margin-bottom:10px}.ratings_table .rating_summary{border-spacing:1px;border-collapse:separate}.ratings_table .progress{border-radius:0;height:13px}#comment_preview{background-color:#FFF}#comment_date_field .panel{border:none;box-shadow:none;margin-bottom:0}#comment_date_field .panel .panel-body{padding:0}#comment_date_field .panel .panel-body .control-label{font-weight:bold}#comment_date_field .panel .panel-body .controls .form-group{display:inline-block;padding-left:15px;margin-bottom:0}.bPost{margin-bottom:2em}.bPost .bTitle{margin:0}.bPost .small.text-muted{margin:4px 0 10px}.bPost .small.text-muted a,.bPost .small.text-muted a .glyphicon{color:inherit}form#user_checkchanges.bComment{border:none}div.bSideItem{background:#F7F5FA;border-radius:5px;padding:10px;margin-bottom:10px;text-shadow:0 1px 0 #FFFFFF}div.bSideItem h4{margin-top:0}.skin-form .panel-body .panel{border:none;box-shadow:none}.skin-form .panel-body .panel-body{padding:0}.skin-form .fieldset{margin:0}.skin-form .fieldset div.input{margin:0}.skin-form .control-buttons,.skin-form div.input{padding:0;width:100%;text-align:center}.wrap-form-login,.wrap-form-lostpass,.wrap-form-register,.wrap-form-activation{min-width:290px;margin:1.5em auto auto}.wrap-form-login .panel,.wrap-form-lostpass .panel,.wrap-form-register .panel,.wrap-form-activation .panel{margin:5px 0}.wrap-form-login .panel-body,.wrap-form-lostpass .panel-body,.wrap-form-register .panel-body,.wrap-form-activation .panel-body{padding:20px 30px 0}.wrap-form-login{max-width:400px}.wrap-form-lostpass{max-width:480px}.wrap-form-lostpass #ffield_x label{display:none}.wrap-form-activation{max-width:530px}.wrap-form-activation #activateinfo_form .control-buttons{text-align:left}.wrap-form-register{max-width:580px}.wrap-form-register .control-buttons{text-align:left}.wrap-form-register.register-disabled{width:350px}.wrap-form-register .form-control#country,.wrap-form-register .form-control#u{width:100%}.form-login-links{padding:0 5px;font-size:92%}.form-login fieldset{margin-bottom:20px}.form-login .controls{padding:0;margin:0;width:100%}.form-login .control-buttons{margin-left:0}.form-login input.form-control[type=text],.form-login input.form-control[type=password]{width:100%}.form-login .btn{margin-top:5px}.form-login .form-actions{padding:0;margin:0 0 20px;background:none;border:none}#login_form .control-buttons{text-align:left}.standard_login_link{text-align:center;margin:3em 0 1ex 0}.form_footer_notes{margin-top:0}.pagination{margin:0}.filter_item div{height:22px}div.action_messages,div.log_container{margin:0}.post_title{display:table}.post_title h2{display:table-cell;margin:0;padding:20px 0 10px}.post_title .btn-group{display:table-cell;padding:20px 0 10px 30px;vertical-align:middle}body.pictured .front_main_content .widget--social-media-links a{width:60px;height:60px;margin:5px}body.pictured .front_main_content .widget--social-media-links a .fa{font-size:30px;line-height:60px}.widget_core_org_members{margin:5em 0 30px;color:#333}.widget_core_org_members img{width:200px;height:200px;display:inline-block}.widget_core_org_members h2.page-header{margin-top:0}.widget_core_org_members p.user_field{margin-bottom:40px}body.pictured .footer .widget_core_org_members .widget--social-media-links a{color:#FFF;background:#ddd}body.pictured .footer .widget_core_org_members .widget--social-media-links a:hover{background:#23527c}body.pictured .footer .widget_core_org_members a.user_link{color:#000}body.pictured .footer .widget_core_org_members a.user_link:hover{color:#23527c}

/* Custom Styles */
#skin_wrapper {
  text-align: center;
  background: url(images/bg-picture.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -1;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  line-height: 1.6em;
  -webkit-animation: bugfix infinite 1s;
}
.default {
  display: inline-block;
  vertical-align: bottom;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0,0,0,0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.default:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #333;
  padding-bottom: 2px;
  height: 2px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.default:hover:before,
.default:focus:before,
.default:active:before {
  right: 0;
}
.widget_core_coll_post_list ul li {
  text-align: center;
  margin-left: 0px;
  padding-left: 0px;
}
.widget_core_coll_post_list ul li a {
  color: #5d4a55 !important;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.widget_core_coll_post_list ul li a:hover {
  color: #222;
  text-decoration: none;
}
.front_main_content {
  background-color: rgba(0, 0, 0, 0) !important;
  text-align: center;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8%;
}
div.front_main_area {
	width: 100%;
}
.widget_core_coll_title h1 a {
  color: #fff;
  font-size: 55px;
  letter-spacing: 5px;
  pointer-events: none;
  text-shadow: 1px 1px rgba(0,0,0,0.2);
}
.widget_core_coll_tagline {
  font-size: 22px;
  font-style: italic;
  color: #fff;
  text-shadow: 1px 1px rgba(0,0,0,0.2);
  margin: 0 auto;
  padding-top: 5px;
  border-top: 1px solid rgba(0,0,0,0.1);
  font-family: serif;
}
.widget--social-media-links a span {
  transition: 0.15s ease;
}
.widget--social-media-links a:hover {
  background-color: #23527c !important;
  border-radius: 5px;
}
.col-md-12 {
  color: #222;
}
.featurepost  {
  padding: 30px 30px;
}
.item_images img {
  border-radius: 5px;
}
.img-responsive, .item_images img {
  opacity: 1;
  width: 100%;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  -webkit-box-shadow: 3px 15px 5px -10px rgba(0,0,0,0.25);
  -moz-box-shadow: 3px 15px 5px -10px rgba(0,0,0,0.25);
  box-shadow: 3px 15px 5px -10px rgba(0,0,0,0.25);
}
.img-responsive:hover, .item_images img:hover {
  opacity: 0.8;
}
.widget_core_coll_post_list ul li {
  list-style-type: none; 
  display: inline-block;
  vertical-align: top;
  margin: 1.3%;
  width: 30%;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 25px;
}
.widget_core_coll_post_list
.widget h2.page-header {
  text-transform: uppercase;	
  color: #5d4a55;
}
.footer-wrapper {
  text-decoration: none;
  background-color: rgba(0,0,0,0);
  padding: 0px !important;
  margin: 0px !important;
  font-size: 18px;
  border-top: none !important;
  box-shadow: none !important;
  background-color: rgba(0,0,0,0.05) !important;
  padding-top: 40px !important;
  padding-bottom: 25px !important;
}
.footer-wrapper p {
  text-decoration: none;
  color: #333;
}
.footer-wrapper p a {
  text-decoration: none;
  color: #697b94;
}
.footer-wrapper p a:hover, .col-lg-4 h3:hover {
  text-decoration: underline;
}
.footer-wrapper .widget {
  max-width: 300px;
  display: inline-block;
  margin: 12px;
  vertical-align: text-top;
  text-align: left;
}
.footer-wrapper {
  text-decoration: none;
  background-color: rgba(0,0,0,0);
  padding: 0px !important;
  margin: 0px !important;
  font-size: 18px;
  border-top: none !important;
  box-shadow: none !important;
  background-color: rgba(0,0,0,0.05) !important;
  padding-top: 40px !important;
  padding-bottom: 25px !important;
}
.footer-wrapper p {
  text-decoration: none;
  color: #333;
}
.footer-wrapper.center a {
  text-decoration: none;
  color: #697b94 !important;
}
.footer-wrapper.center a:hover {
  text-decoration: underline;
}
.widget_core_free_html {
  margin-bottom: 50px;
}
/* Responsive layout for posts */
@media only screen and (min-width: 1900px) {
  .front_main_content { 
	 margin-top: 18%;
  }
}
@media only screen and (min-width: 1500px) {
  .front_main_content { 
	 margin-top: 15%;
  }
}
@media only screen and (max-width: 992px) {
  .widget_core_coll_post_list ul {
	 padding: 0px;
	 margin: 0px;
  }
  .widget_core_coll_post_list ul li {
	 text-align: center;
     list-style-type: none; 
	 display: block;
	 vertical-align: center;
	 margin: 0%;
	 margin-left: 0px;
	 width: 100%;
	 border: 0px solid #ddd;
	 border-bottom: 1px solid #ddd;
	 border-radius: 0px;
	 margin-bottom: 20px;
	 padding-top: 25px;
	 padding-bottom: 25px;
  }
  .widget_core_coll_post_list ul li img {
	 width: auto;
  }
}	
@media only screen and (max-width: 567px) {
  .widget_core_coll_post_list ul li img {
	 max-width: 300px;
  }
}
.close {
margin-top: 5px;
}